.movie-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-analysis{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-analysis>p{
    color: #ffff;
}